html {
   
    font-size: 22px;
    display: block;
    }

        table, tr, th, td, caption {
        border: 1px solid rgb(12, 11, 11);
        font-family: 'Courier New', Courier, monospace;
        border-collapse: collapse;
        padding: 0.5rem; 
    }
    body {
        min-height: 100vh;
        max-width: 800px;
        margin: 0 auto;
        padding: 0.5rem;
        border-left: 1px solid #a70303;
        border-right: 1px solid #a70303;
    }

     h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        color: #a70303;
    }
    h1 {
        display: block;
        font-size: 2em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        color: #a70303;
    }